body {
  background-color: #FAF9F6;
  width: 800px;
  border: 10px;
  margin: auto;
}

.heading {
  background-color: #F1F1F1;
  text-align: center;
  padding: 1rem;
  font-family: 'Gill Sans';
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.topnav {
  background-color: #F1F1F1;
  text-align: center;
  padding: 1rem;
  font-family: 'Gill Sans';
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 1rem;
  height: 3rem;
}
.topnav a {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
}

.topnav a:hover {
  background-color: #333;
  color: #F1F1F1;
}

p {
  background-color: #F1F1F1;
  font-family: 'Gill Sans';
  text-align: center;
  padding: 20px;
  width: auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}