body {
  background-image: linear-gradient(to left, #FAF9F6, #D0D3CC);
  max-width: 800px;
  margin: auto;
}

.heading {
  background-color: #F1F1F1;
  text-align: center;
  padding: 1rem;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.topnav {
  background-color: #F1F1F1;
  text-align: center;
  padding: 1rem;
  font-family: 'Gill Sans';
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 1rem;
  height: 3rem;
}
.topnav a {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
}

.topnav a:hover {
  background-color: #333;
  color: #F1F1F1;
}

p {
  background-color: #F1F1F1;
  font-family: 'Gill Sans';
  text-align: center;
  padding: 20px;
  width: auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.loginpage {
  background-color: #F1F1F1;
  padding: 1rem;
}

#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
  margin: auto;
}
.login-form-field::placeholder {
  color: #3a3a3a;
}
.login-form-field {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
}
#login-form-submit {
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}